  <!
Filename:footer.ejs
Authorname:Vedank Patel
websitename:https://assignmen.herokuapp.com/
File Description:fil contains ending code for all other view pages and a site developer mark
-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; Vedank Patel.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>